*{
    box-sizing: border-box;
}

.filmContainer {
    display: flex;
    flex-wrap: wrap;
    font-style: italic;
}

.film {
    border: solid 2px red;
    border-radius: 5px;
    width: 250px;
    margin: 10px;
}

img {
    width: 100%;
}
span {
    font-weight: bold;
}

.rating {
    display: flex;
}

.rating__item {
    width: 40px;
    height: 40px;
    background-color: green;
    border: 2px solid #fff;
    cursor: pointer;
}

.active {
    background-color: yellow;
}

